body,
html {
    /*    background-color: #e8eaf6 !important;*/
    /*    background: url(http://www.wallspick.com/wp-content/uploads/2014/09/8589130423107-blue-mountains-landscape-wallpaper-hd.jpg);*/
    
    background: url("http://ahirani.me/res/mountain1.png");
    background-position: top;
}

.nav-wrapper {
    padding-left: 1%;
    background-color: #424242;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #e8eaf6;
}

.nav-wrapper .brand-logo1 {
    margin-top: 0.5%;
    font-weight: 500;
    font-size: 24;
    border-radius: 50%;
    background: #424242;
    padding: .30%;
    z-index: 0;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
}
/*.nav-wrapper .brand-logo1:hover {
    background: #4db6ac;
}*/

.intro {
    opacity: 1;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 50px;
    opacity: 1;
}

.intro h1 {
    font-weight: 600;
    text-transform: uppercase;
}

.intro h5 {
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.about .col {
    margin-bottom: 24px;
}

.about h5 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    font-weight: 350;
}

.about h6 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
    color: white;
    background: rgba(37, 0, 242, 0.88);
    /* fallback color */
    
    background: rgba(71, 79, 177, 0.2);
    padding: 10px;
    /*text-shadow: 1px 1px #424242;*/
}

.about hr {
    width: 50px;
    margin-bottom: 45px;
}

.about p.overview {
    padding-top: 30px;
    height: 325px;
    text-align: center;
    /*    text-align:justify; */
}

.about p.employment {
    padding-top: 36px;
    height: 325px;
    /*    text-align:justify; */
}

.about .card {
    text-align: center;
    opacity: 0.9;
    height: 500px
}

.about .employment img {
    opacity: 1;
}
/*.about .col p {
    text-indent: 50px;
}*/

.about .android-icon {
    border-width: 100px;
}

.about .collapsible-body {
    background: #ffffff;
    height: 363;
    overflow-y: auto;
}

#nav-mobile {
    font-size
}